<div class="ms-Grid-row">
    <!-- App navigation bar markup. -->
    <div class="ms-NavBar">
      <ul class="ms-NavBar-items">
        <li class="ms-NavBar-item">One Click Sign on WS Cms template </li>
      </ul>
    </div>
  
    <!-- App main content markup. -->
      <div class="ms-Grid-col ms-u-mdPush1 ms-u-md9 ms-u-lgPush1 ms-u-lg6">
      <div>

     
        
      <p class="ms-font-xl">Use the button to login.</p>
      <button class="ms-Button" (click)="onLogin()">
        <span class="ms-Button-label">Log In</span>
      </button>
      </div>
    </div>
  </div>