<div class="fill card weather">
    <div class="grid">

        <div class="__icon contain" [style.background-image]="image">
    
        </div>
    
        <!--Mynd til skýringar á veðri, Mynd breytist ef upplýsingar um veður breytist-->
        <h2 class="__header white">
          {{ForecastName}}
        </h2>
    
        <!--Lína til að skilja mynd og veðri frá Gráðum-->
        <div class="__underline">
    
        </div>
    
        <!--Gráður / Hiti eða kuldi í Celsíus-->
       <!-- <h2 class="__temp white">
          {{Temp}}°C
          <br>
          {{Forecast.currently.precipType}}
        </h2>-->
    
    </div>
</div>


