.top-nav {
    width: 100vw;
    position: absolute;
    height: 50px;
    background-color: #678faa;
    z-index: 20;
    left: 0;
    #current_user_profile_image {
        width: 48px;
        bottom: 48px;
        float: right;
        margin-right: 15px;
        cursor: pointer;
        .__container {
            padding: 5px;
            img {   
              height: 100%;
              width: 100%; 
              border-radius: 100px; 
            }
        }
    }
}